[submodule "packages/modules/showfolio"]
	path = packages/modules/showfolio
	url = https://github.com/ianhubnet/csk-module-showfolio
[submodule "packages/modules/services"]
	path = packages/modules/services
	url = https://github.com/ianhubnet/csk-module-services
[submodule "packages/modules/chargily"]
	path = packages/modules/chargily
	url = https://github.com/ianhubnet/csk-module-chargily
[submodule "packages/modules/pages"]
	path = packages/modules/pages
	url = https://github.com/ianhubnet/csk-module-pages
[submodule "packages/modules/menus"]
	path = packages/modules/menus
	url = https://github.com/ianhubnet/csk-module-menus
[submodule "packages/languages"]
	path = packages/languages
	url = https://github.com/ianhubnet/csk-languages
[submodule "packages/themes/default"]
	path = packages/themes/default
	url = https://github.com/ianhubnet/csk-theme-default
[submodule "packages/modules/dummy"]
	path = packages/modules/dummy
	url = https://github.com/ianhubnet/csk-module-dummy
[submodule "packages/themes/ianhub"]
	path = packages/themes/ianhub
	url = https://github.com/ianhubnet/csk-theme-ianhub
[submodule "packages/modules/contact"]
	path = packages/modules/contact
	url = https://github.com/ianhubnet/csk-module-contact
[submodule "packages/modules/settings"]
	path = packages/modules/settings
	url = https://github.com/ianhubnet/csk-module-settings
[submodule "packages/modules/blog"]
	path = packages/modules/blog
	url = https://github.com/ianhubnet/csk-module-blog
