[submodule "packages/modules/showfolio"]
	path = packages/modules/showfolio
	url = https://github.com/ianhubnet/csk-module-showfolio
[submodule "packages/modules/services"]
	path = packages/modules/services
	url = https://github.com/ianhubnet/csk-module-services
[submodule "packages/modules/chargily"]
	path = packages/modules/chargily
	url = https://github.com/ianhubnet/csk-module-chargily
[submodule "packages/modules/pages"]
	path = packages/modules/pages
	url = https://github.com/ianhubnet/csk-module-pages
[submodule "modules/menus"]
	path = modules/menus
	url = https://github.com/ianhubnet/csk-module-menus
