name: Update Submodules

on:
  repository_dispatch:
    types: [update-submodules]

concurrency:
  group: update-submodules
  cancel-in-progress: false

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo with submodules
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CSK_PAT }}
          submodules: true

      - name: Configure Git
        run: |
          git config --global user.name "CSK Bot"
          git config --global user.email "skeleton@ianhub.net"

      - name: Add or update submodule
        run: |
          TYPE="${{ github.event.client_payload.type }}"
          NAME="${{ github.event.client_payload.name }}"
          REPO="${{ github.event.client_payload.repository }}"
          PATH="${{ github.event.client_payload.path }}"

          echo "Type: $TYPE"
          echo "Name: $NAME"
          echo "Repo: $REPO"
          echo "Path: $PATH"

          if [ -z "$PATH" ]; then
            echo "❌ No submodule path provided. Exiting."
            exit 1
          fi

          if [ -d "$PATH" ]; then
            echo "✅ Submodule exists. Updating..."
            git submodule update --remote "$PATH"
          else
            echo "Submodule not found at: $SUBMODULE_PATH. Skipping."
          fi

          git add "$PATH"
          git commit -m "Auto-update/add submodule: $TYPE/${NAME:-unknown}" || echo "Nothing to commit"
          git push
